<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Running File Walker</title>
    <style>
        h1 {text-align:center}
        p {text-align:left; display:flex; flex-direction:column; align-items:center}
        a, form {text-align:center; display:block}
    </style>
<body>
    <h1>Running File Walker</h1>
    <p>
        <b>Starting Directory:</b> <span th:text="${startingPath}">Data Not Found</span><br>
        <b>Ignored Paths:</b> <span th:text="${ignoredPaths}">Not Ignoring Any Paths</span><br>
        <b>Start Time:</b> <span th:text="${lastStarted}">Data Not Found</span><br>
        <b>Total Files:</b> <span th:text="${totalFile}">Data Not Found</span><br>
        <b>Total Directories:</b> <span th:text="${totalDirectory}">Data Not Found</span><br>
        <b>Total Errored Directories:</b> <span th:text="${totalDirectoryError}">Data Not Found</span><br>
        <b>Total Other Errors:</b> <span th:text="${totalOtherError}">Data Not Found</span><br>
        <b>Run Time:</b> <span th:text="${runTime}">Data Not Found</span> milliseconds<br><br>
        <b>State:</b> <span th:if="${state == true}">Running</span> <span th:unless="${state == true}">Not Running</span><br>
        <a href="/FileWalker"><button>Refresh</button></a>
    </p>
    <form action="/FileWalker" method="POST">
        <br><button id='runButton' type="submit">Run FileWalker</button>
    </form>
</body>
</html>