<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Running File Walker</title>
    <style>
        h1 {text-align:center}
        p {text-align:left; display:flex; flex-direction:column; align-items:center}
        a {text-align:center; display:block}
    </style>
</head>
<body>
    <h1>Running File Walker</h1>
    <p>
        <b>Last Ran:</b> <span th:text="${lastAccess}">Data Not Found</span><br>
        <b>Total Files:</b> <span th:text="${totalFile}">Data Not Found</span><br>
        <b>Total Directories:</b> <span th:text="${totalDirectory}">Data Not Found</span><br>
        <b>Total Errored Files/Directories:</b> <span th:text="${totalError}">Data Not Found</span><br>
        <b>Total Run Time:</b> <span th:text="${runTime}">Data Not Found</span> milliseconds
    </p>
    <a th:href="@{/HomePage}">Back to Home</a>
</body>
</html>